In [3]:
from sqlalchemy import create_engine, text
import pandas as pd

In [4]:
# Reemplaza estos valores si cambiaste tus variables de entorno
db_user = "maxkaizo"
db_pass = "maolo"
db_host = "localhost"
db_port = "5432"
db_name = "mydb"

connection_url = f"postgresql://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}"

In [5]:
engine = create_engine(connection_url)

# Probar conexión
with engine.connect() as conn:
    result = conn.execute(text("SELECT version();"))
    print("✅ Connection successful!")
    for row in result:
        print("PostgreSQL version:", row[0])

✅ Connection successful!
PostgreSQL version: PostgreSQL 15.13 (Debian 15.13-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit

In [13]:
with engine.begin() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS test_table;
        CREATE TABLE test_table (
            id SERIAL PRIMARY KEY,
            message TEXT
        );
        INSERT INTO test_table (message)
        VALUES ('Hello from SQLAlchemy'), ('Another message');
    """))

In [14]:
df = pd.read_sql("SELECT * FROM test_table;", con=engine)
df

   id                message
0   1  Hello from SQLAlchemy
1   2        Another message